/*body{
    background-color: #1e88e6;
}*/
.row-article{

  background-color: #262b4e;
  opacity:0.5;

}
.createTime{
  font-size: 15px;
  /*text-align: center;*/
}

.article-title{
  font-size: 20px;
  /*text-align: left;*/
}
.nickName{

  /*text-align: right;*/
}
.row-article{
    margin: 3px;
    padding: 0;
    list-style: none;
}
